
.head{

background-color:blue;
color:white;
overflow:hidden;
height:130px;


}
.head h1
{
padding:0px;
margin:10px;
TEXT-ALIGN:CENTER;
}

.head h2
{
margin:0px;
padding:0px;
TEXT-ALIGN:CENTER;
}
.img
{
FLOAT:CENTER;

}


ul
{
list-style-type:none;
padding:0;
margin:0px 0px 0px 0px ;
background-color:#B5D7FA;

overflow:hidden;
}
li
{
float:left;


}
a
{
padding:15px 25px 15px 25px;
display:block;
text-decoration:none;
font-size:1.2em;
color:#F107FA;
}
img
{

float:left;
margin:10px;

}
article h1
{
text-align:center;
color:blue;
text-decoration:underline;
}
article h2
{

color:black;

}
.content
{
font-size:2em;
border:5px inset blue;
text-align:justify;
padding:10px;
background-color:#D9F4F4;
color:black;
}
footer
{
text-align:center;
background-color:blue;
color:white;
padding:10px;

}
li a:hover
{
color:white;
background-color:black;
}
li a.default
{
color:white;
background-color:#F32A0A;
}
li.spec
{

float:right;
}









